@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --bgcolor: #020202;
    --primary-color: #F6E71D;
    --secondary-color: #181818;
    --text-color: #828286;
    --main-text-color: #333333;
}

html{
    font-size: 62.5%;
    
}

a{
    text-decoration: none;
    color: #fff;
}

h1, h2, h3, h4, h5, h6{
    color: #333333;
}

/* Adding navbar css style */
.navbar-bg{
    background-color: var(--secondary-color);
    padding: 2rem 0;
    z-index: 99;
    position: relative;
    /* it will keep navbar in the top consitenly */
}

.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-color) !important;
}



.navbar li{
    padding: 0 2rem;
}

.navbar li a{
    font-size: 1.7rem;
    font-weight: lighter;
    position: relative;
    color: #fff !important;
}
.navbar li a:hover{
    color: var(--primary-color) !important;
}

.primary-btn{
    background-color: var(--primary-color) !important;
    border: none;
    padding: 1.2rem 2rem;
    width: 20rem;
    font-size: 1.8rem;
    font-weight: bold;
}
/* Navbar css Ends */

/* Main hero csss */
.main-hero-container{
    height: 100vh;
    display: flex;
    
}
.main-hero-container h1{
    text-transform: capitalize;
    font-weight: bolder;
    color:  var(--primary-color);
}

.main-hero-para{
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 3rem 0 5rem;
    font-weight: lighter;
    width: 75%;
}

header{
    background-color: var(--bgcolor);
    min-height: 80vh;
    width: 100%;
}


/* End of Mian hero css */

/* WOrk section start */
.work-container{
        width: 80vw;
        padding: 5rem;
        box-shadow: 0 .4rem 1.2rem rgba(0, 0, 0, 0.4 );
        margin-top: -10rem;
        border-radius: 0.5rem;
        background-color: #fff;
}

.work-container .main-heading{
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 4rem;
    word-spacing: 1rem;

}

.sub-heading .sub-heading{
        font-size: 2rem;
        font-weight: normal;
}

/* End of WOrk Sectioin */

/* Start our services */
.common-section{
    margin: 5rem;
}
.our-services img{
    width: 40%;
    height: 75%;
    margin-top: 10rem;
    box-shadow: rgba(0, 0, 0 0.25) 0px 0.8rem 0.8rem;

}

.our-services .mini-title{
    text-transform: uppercase;
    font-weight: normal;
    margin: 3rem;
    text-align: left;
    font-size: 1.5rem;
}

.our-services .main-heading{
    font-weight: bold;

}

.our-services-info{
    margin-top: 4rem;
}

.our-services .our-service-number{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: transparent;
    border: 0.1rem solid var(--primary-color);
    color: var(--primary-color);
    display: grid;
    place-content: center;
}

.our-services .our-service-data{
    padding-left: 2rem;
}

.our-services .our-service-data p{
    margin: 1rem 0;
}

/* Endn of About us */

/* Start of ABout Service Container */
.service-main-container{
    /* margin-top: 5rem; */
    padding: 5rem;
    background-color: var(--bgcolor);
}
.service-main-container .main-heading{
    margin: 0 0 5rem 0;
    font-weight: bold;
    color: var(--primary-color);
}
.service-main-container .sub-heading{
    font-size: 2rem;
    color: var(--primary-color);
}
.service-main-container .work-container-subdiv{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.16);
    padding: 5rem;
    background-color: var(--secondary-color);
    color: #fff;
    margin-top: 2rem;
}



.work-container-subdiv  .sub-heading:hover{
    color: #fff;
}

.work-container-subdiv p{
    width: 100%;
    
}

@media (min-width: 1400px){
    .service-container .col-xxl-4{
        flex: 0 0 auto;
        width: 30% !important;
        margin: auto; 
    }
}

@media (min-width: 900px){
    .service-container .col-xxl-4{
        flex: 0 0 auto;
        width: 30% !important;
        margin: 1rem; 
    }
}

@media(main-width: 1500px){
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl{
        max-width: 1500px !important;
    }
}

@media(main-width: 1400px){
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl{
        max-width: 1400px !important;
    }
}

.object-fit-wrapper{
    width: 80%;
    height: 80%;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-position: center;
    position: relative;
    display: block;
    overflow: hidden;
}
.object-fit-bg{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
}